*{
  margin: 0;
  padding: 0;
}

.App{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: black;
}

input[type='radio']{
  display: none;
}

.stars{
  cursor: pointer;
  
}


